:root {
	/*
	* это основной цвет, нанесенный на:
	* фон, подчеркивание
	*/
	--primary: #262626;
	--primary-disabled: #292222;
	/*
	* это вторичный цвет, нанесенный на:
	* текст, граница
	*/
	--secondary: #FFFFFF;
	--secondary-disabled: #434345;
	/*
	* это третий цвет, нанесенный на:
	* кнопка,
	*/

	--third: #e21a1a;
	--third-disabled: #ccc;
	/*
	* другие цвета, используемые на случайном объекте.
	*/
	--o1: #00b2c9;
	--o1-disabled: #008191;
}

 .containers {   width: 75%;
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px; /* скругление углов блока */
  padding: 16px; /* внутренние поля */
  margin: 16px auto; /* внешние отступы */
}

 .containers img {
  float: left; /* обтекание слева */
  margin-right: 40px; /* пространство между аватаркой и абзацем */
  width: 55px;
}

.containers span {
  font-size: 18px;
  margin-right: 15px;
}